<div th:fragment="modal_choose_day" class="container">
<div class="modal-m modal-search modal-fix modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close">
									<span aria-hidden="true">×</span><span class="sr-only"></span>
								</button>
								<h5>Thời gian</h5>
							</div>
							<div class="modal-body">
								<div class="modal-confirm-body">
									<div class="calendar-container">
										<div id="calendar" class="hasDatepicker">
											<div
												class="ui-datepicker-inline ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all ui-datepicker-multi-2 ui-datepicker-multi"
												style="width: 34em; display: block;">
												<div class="ui-datepicker-group ui-datepicker-group-first">
													<div
														class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-left">
														<a
															class="ui-datepicker-prev ui-corner-all ui-state-disabled"
															title="Prev"><span
															class="ui-icon ui-icon-circle-triangle-w">Prev</span></a>
														<div class="ui-datepicker-title">
															<span class="ui-datepicker-month">September</span>&nbsp;<span
																class="ui-datepicker-year">2024</span>
														</div>
													</div>
													<table class="ui-datepicker-calendar">
														<thead>
															<tr>
																<th scope="col" class="ui-datepicker-week-end"><span
																	title="Sunday">CN</span></th>
																<th scope="col"><span title="Monday">T2</span></th>
																<th scope="col"><span title="Tuesday">T3</span></th>
																<th scope="col"><span title="Wednesday">T4</span></th>
																<th scope="col"><span title="Thursday">T5</span></th>
																<th scope="col"><span title="Friday">T6</span></th>
																<th scope="col" class="ui-datepicker-week-end"><span
																	title="Saturday">T7</span></th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td
																	class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled "><span
																	class="ui-state-default">1</span></td>
																<td
																	class=" ui-datepicker-unselectable ui-state-disabled "><span
																	class="ui-state-default">2</span></td>
																<td
																	class=" ui-datepicker-unselectable ui-state-disabled "><span
																	class="ui-state-default">3</span></td>
																<td
																	class=" ui-datepicker-unselectable ui-state-disabled "><span
																	class="ui-state-default">4</span></td>
																<td
																	class=" ui-datepicker-unselectable ui-state-disabled "><span
																	class="ui-state-default">5</span></td>
																<td
																	class=" ui-datepicker-unselectable ui-state-disabled "><span
																	class="ui-state-default">6</span></td>
																<td
																	class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled "><span
																	class="ui-state-default">7</span></td>
															</tr>
															<tr>
																<td
																	class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled "><span
																	class="ui-state-default">8</span></td>
																<td
																	class=" ui-datepicker-unselectable ui-state-disabled "><span
																	class="ui-state-default">9</span></td>
																<td
																	class=" ui-datepicker-unselectable ui-state-disabled "><span
																	class="ui-state-default">10</span></td>
																<td
																	class=" ui-datepicker-unselectable ui-state-disabled "><span
																	class="ui-state-default">11</span></td>
																<td
																	class=" ui-datepicker-unselectable ui-state-disabled "><span
																	class="ui-state-default">12</span></td>
																<td
																	class=" ui-datepicker-unselectable ui-state-disabled "><span
																	class="ui-state-default">13</span></td>
																<td
																	class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled "><span
																	class="ui-state-default">14</span></td>
															</tr>
															<tr>
																<td
																	class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled "><span
																	class="ui-state-default">15</span></td>
																<td
																	class=" ui-datepicker-unselectable ui-state-disabled "><span
																	class="ui-state-default">16</span></td>
																<td
																	class=" ui-datepicker-unselectable ui-state-disabled "><span
																	class="ui-state-default">17</span></td>
																<td
																	class=" ui-datepicker-unselectable ui-state-disabled "><span
																	class="ui-state-default">18</span></td>
																<td
																	class=" ui-datepicker-unselectable ui-state-disabled "><span
																	class="ui-state-default">19</span></td>
																<td
																	class=" ui-datepicker-unselectable ui-state-disabled "><span
																	class="ui-state-default">20</span></td>
																<td
																	class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled "><span
																	class="ui-state-default">21</span></td>
															</tr>
															<tr>
																<td
																	class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled "><span
																	class="ui-state-default">22</span></td>
																<td
																	class=" ui-datepicker-unselectable ui-state-disabled "><span
																	class="ui-state-default">23</span></td>
																<td
																	class=" ui-datepicker-days-cell-over  ui-datepicker-current-day ui-datepicker-today"
																	data-handler="selectDay" data-event="click"
																	data-month="8" data-year="2024"><a
																	class="ui-state-default ui-state-highlight ui-state-active ui-state-hover"
																	href="#">24</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="8" data-year="2024"><a
																	class="ui-state-default" href="#">25</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="8" data-year="2024"><a
																	class="ui-state-default" href="#">26</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="8" data-year="2024"><a
																	class="ui-state-default" href="#">27</a></td>
																<td class=" ui-datepicker-week-end "
																	data-handler="selectDay" data-event="click"
																	data-month="8" data-year="2024"><a
																	class="ui-state-default" href="#">28</a></td>
															</tr>
															<tr>
																<td class=" ui-datepicker-week-end "
																	data-handler="selectDay" data-event="click"
																	data-month="8" data-year="2024"><a
																	class="ui-state-default" href="#">29</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="8" data-year="2024"><a
																	class="ui-state-default" href="#">30</a></td>
																<td
																	class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">
																	&nbsp;</td>
																<td
																	class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">
																	&nbsp;</td>
																<td
																	class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">
																	&nbsp;</td>
																<td
																	class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">
																	&nbsp;</td>
																<td
																	class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">
																	&nbsp;</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="ui-datepicker-group ui-datepicker-group-last">
													<div
														class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-right">
														<a class="ui-datepicker-next ui-corner-all"
															data-handler="next" data-event="click" title="Next"><span
															class="ui-icon ui-icon-circle-triangle-e">Next</span></a>
														<div class="ui-datepicker-title">
															<span class="ui-datepicker-month">October</span>&nbsp;<span
																class="ui-datepicker-year">2024</span>
														</div>
													</div>
													<table class="ui-datepicker-calendar">
														<thead>
															<tr>
																<th scope="col" class="ui-datepicker-week-end"><span
																	title="Sunday">CN</span></th>
																<th scope="col"><span title="Monday">T2</span></th>
																<th scope="col"><span title="Tuesday">T3</span></th>
																<th scope="col"><span title="Wednesday">T4</span></th>
																<th scope="col"><span title="Thursday">T5</span></th>
																<th scope="col"><span title="Friday">T6</span></th>
																<th scope="col" class="ui-datepicker-week-end"><span
																	title="Saturday">T7</span></th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td
																	class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">
																	&nbsp;</td>
																<td
																	class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">
																	&nbsp;</td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">1</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">2</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">3</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">4</a></td>
																<td class=" ui-datepicker-week-end "
																	data-handler="selectDay" data-event="click"
																	data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">5</a></td>
															</tr>
															<tr>
																<td class=" ui-datepicker-week-end "
																	data-handler="selectDay" data-event="click"
																	data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">6</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">7</a></td>
																<td class=" dp-highlight" data-handler="selectDay"
																	data-event="click" data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">8</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">9</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">10</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">11</a></td>
																<td class=" ui-datepicker-week-end "
																	data-handler="selectDay" data-event="click"
																	data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">12</a></td>
															</tr>
															<tr>
																<td class=" ui-datepicker-week-end "
																	data-handler="selectDay" data-event="click"
																	data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">13</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">14</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">15</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">16</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">17</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">18</a></td>
																<td class=" ui-datepicker-week-end "
																	data-handler="selectDay" data-event="click"
																	data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">19</a></td>
															</tr>
															<tr>
																<td class=" ui-datepicker-week-end "
																	data-handler="selectDay" data-event="click"
																	data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">20</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">21</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">22</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">23</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">24</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">25</a></td>
																<td class=" ui-datepicker-week-end "
																	data-handler="selectDay" data-event="click"
																	data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">26</a></td>
															</tr>
															<tr>
																<td class=" ui-datepicker-week-end "
																	data-handler="selectDay" data-event="click"
																	data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">27</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">28</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">29</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">30</a></td>
																<td class=" " data-handler="selectDay"
																	data-event="click" data-month="9" data-year="2024"><a
																	class="ui-state-default" href="#">31</a></td>
																<td
																	class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">
																	&nbsp;</td>
																<td
																	class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">
																	&nbsp;</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="ui-datepicker-row-break"></div>
											</div>
										</div>
									</div>
									<div class="text-danger marginBottom-l">
										<p id="error_choose_datetime" style="font-size: .75rem;"></p>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<div class="info-time">
									<div class="info-time__item">
										<p>
											<span id="span_date_nhan_modal_choose_time">08/10/2024</span>
											- <span id="span_date_tra_modal_choose_time">Chọn ngày
												kết thúc</span>
										</p>
										<p class="df-align-center total">
											Số ngày thuê: <span class="fontWeight-6"
												id="total_rental_date"
												style="margin: 0px 2px; font-weight: 600;">1</span> ngày <span
												class="tooltip  "> <span class="wrap-svg"> <svg
														width="20" height="20" viewBox="0 0 20 20" fill="none"
														xmlns="http://www.w3.org/2000/svg">
                            <path
															d="M10.0001 18.3337C14.6025 18.3337 18.3334 14.6027 18.3334 10.0003C18.3334 5.39795 14.6025 1.66699 10.0001 1.66699C5.39771 1.66699 1.66675 5.39795 1.66675 10.0003C1.66675 14.6027 5.39771 18.3337 10.0001 18.3337Z"
															stroke="#767676" stroke-linecap="round"
															stroke-linejoin="round"></path>
                            <path
															d="M7.57495 7.50047C7.77087 6.94353 8.15758 6.4739 8.66658 6.17475C9.17558 5.87561 9.77403 5.76626 10.3559 5.86607C10.9378 5.96588 11.4656 6.26841 11.8458 6.72008C12.2261 7.17175 12.4342 7.74341 12.4333 8.33381C12.4333 10.0005 9.93328 10.8338 9.93328 10.8338"
															stroke="#767676" stroke-linecap="round"
															stroke-linejoin="round"></path>
                            <path d="M10 14.167H10.0083"
															stroke="#767676" stroke-width="1.5"
															stroke-linecap="round" stroke-linejoin="round"></path>
                          </svg>
											</span> <span class="tooltip-text"> Giá thuê xe được tính
													theo ngày. Nếu bạn thuê xe dưới 24h sẽ được tính tròn 1
													ngày </span>
											</span>
										</p>
									</div>
									<div class="wrap-btn">
										<a class="btn btn--s btn-primary disabled"
											id="a_btn_update_car_rental_datetime">Tiếp tục</a>
									</div>
								</div>
							</div>
						</div>
					</div>
		</div>